<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Wing">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/wing.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Delius+Swash+Caps" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel='stylesheet' type='text/css'>
    		  <script src="http://code.jquery.com/jquery-latest.js"></script>

    <script src="css/bootstrap-typeahead.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
   <script type="text/javascript">
       $('#classes').change(function() {
          $('#classes').submit();
       });
   </script>  

</head>
<body>
<div class="container">
    <nav class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a href="index.html" class="brand">Project Wing</a>
                    <ul class="nav">
                        <li><a href="#">Home</a></li>
                        <li class="active"><a href="#">User Page</a></li>
                    </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <h2><strong>Find</strong>  your class.</h2>
            <div class="control-group">
            <div class="controls">
                <div class="input-prepend" align="center">
                    <span class="add-on">
                        <i class="icon-search"></i>
                    </span>
                    <input type="search" id="classes" class="span11" placeholder="Search" data-provide="typeahead" 
             data-source='["CS 61A","CS 61B","CS 61C","CS 70","CS 10"]'  name="search" id="search"/>
                </div>
            </div>
        </div>

    <h3 class="subheader"> </h3>
    <div class="row">
        <div class="span12">
<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Tag</th>
        <th>Markup</th>
        <th>Link</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <span class="label label-info">Berkeley</span>
        </td>
        <td>
          <code>EE 40</code>
        </td>
          <td>
          <a class="btn btn-success btn-huge btn-large" href="/class/ee40"style="padding:5px;color:white;">Go to class »</a>
        </td>

      </tr>
      <tr>
        <td>
          <span class="label label-info">Berkeley</span>
        </td>
        <td>
          <code>CS 61B</code>
        </td>
                  <td>
          <a class="btn btn-success btn-huge btn-large" href="/classpage"style="padding:5px;color:white;">Go to class »</a>
        </td>

      </tr>
      <tr>
        <td>
          <span class="label label-info">Berkeley</span>
        </td>
        <td>
          <code>CS 61C</code>
        </td>
                  <td>
          <a class="btn btn-success btn-huge btn-large" href="/classpage"style="padding:5px;color:white;">Go to class »</a>
        </td>

      </tr>
    </tbody>
  </table>
        </div>
    </div>
    
    <h2><strong>Find</strong>  your friends.</h2>
    <h3 class="subheader"> </h3>
    <div class="row">
        <div class="span12">
<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Classes</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <span class="label label-info">CS61A</span>          <span class="label label-info">CS61B</span>

        </td>
        <td>
          <code>Paroma Varma</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-info">CS61A</span>      

        </td>
        <td>
          <code>Richie Zeng</code>
        </td>
      </tr>
      <tr>
        <td>
          <span class="label label-info">EE40</span>      

        </td>
        <td>
          <code>Sumukh Sridhara</code>
        </td>
      </tr>
    </tbody>
  </table>
        </div>
    </div>
        </div>
    </div>
</div>    
         
</div>

</body>
</html>

<!-- Localized -->
